<%= form_for current_user, :url => change_password_profile_path(current_user), :remote => true do |f|  %>
  <%= render :partial => '/layouts/error_messages', :locals => {:resource => current_user} %>
  <span id='success' style='color: green; display: none;'>Password changed Successfully</span>
  <div class="frow">
    <div><%= f.label :current_password, "Current Password:".html_safe %></div>
    <div><%= f.password_field :current_password ,:id=>"old-password" %></div>
  </div>
  <div class="frow">
    <div><%= f.label :password, "New Password:".html_safe %></div>
    <div><%= f.password_field :password ,:id=>"new-password" %></div>
  </div>
  <div class="frow">
    <div><%= f.label :password_confirmation, "Confirm Password:".html_safe %></div>
    <div><%= f.password_field :password_confirmation ,:id=>"confirm-password" %></div>
  </div>




<tr>
      <td><%= f.submit "Save", :class => "btn btn-success", :style => "padding: 5px 20px;" %></td>
    </tr>
<% end %>