<table> 
	<td>

		<h2>Resend confirmation instructions</h2>

		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
		<%= devise_error_messages! %>
		<div class="input-group input-group-lg">

			<span class="input-group-addon">

				<span class="fa fa-envelope"></span>

			</span>

			<%= f.email_field :email, autofocus: true, class: "form-control", placeholder:"Email address"%>
		</div>

<br/>

		<div class="input-group input-group-lg">


		<%= f.submit "Resend confirmation instructions", class: "btn btn" %>
		<% end %>
		</div>
<br />


		<%= render "devise/shared/links" %>
</td>
</table>



