<!-- Photoswipe Plugin -->
<script type="text/javascript" src="/assets/admin/plugins/photoswipe/lib/klass.min.js"></script>
<script type="text/javascript" src="/assets/admin/plugins/photoswipe/js/code.photoswipe.jquery-3.0.4.min.js"></script>
<link rel="stylesheet" href="/assets/admin/plugins/photoswipe/css/photoswipe.css" media="screen" />
<!-- Demo JavaScript Files -->
<script type="text/javascript" src="/assets/admin/js/demo/demo.gallery.js"></script>

<div class="grid_4">
<%#*scrollable%>
  <div class="da-panel collapsible">
    <div class="da-panel-header">
      <span class="da-panel-title">
        <img src="/assets/admin/images/icons/black/16/list.png" alt="" />
        Order Summery
      </span>
    </div>
    <div class="da-panel-content">
      <table id="da-ex-datatable-default" class="da-table">
        <thead>
          <tr>
            <th><b>First name</b> </th>
            <th><b>Last name</b> </th>
            <th><b>Address</b></th>
            <th><b>LandMark</b></th>
            <th><b>Pincode</b></th>
            <th><b>City || State</b></th>
            <th><b>Ip Address</b></th>
            <th><b>Status</b></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @order.first_name.capitalize %></td>
            <td>  <%= @order.last_name.capitalize %></td>
            <td> <%= @order.address.capitalize %></td>
            <td>  <%=  @order.landmark.titleize%></td>
            <td>  <%=  @order.pincode%></td>
            <td>  <%= @order.city.capitalize %> || <%=  @order.state %> </td>
            <td>  <%= @order.ip_address %></td>
            <td>  <%= @order.status %> </td>
          </tr>
        </tbody>
      </table>
      
    </div>
    <table id="da-ex-datatable-default" class="da-table">
      <tr>
        <th><b>Image </b></th>
        <th><b>Item</b> </th>
        <th><b>Quantity</b></th>
        <th><b>UnitPrice</b></th>
        <th><b>FullPrice</b></th>
      </tr>
      <% @order_items.each do |order_item| %>
        <tr>
          <td><%= image_tag(order_item.product.images.present? ? (order_item.product.images.first.avatar.url) : "/assets/missing.png", height: "50px", width: "80px") %></td>
          <td><%= order_item.product.name %></td>
          <td><%= order_item.quantity %></td>
          <td>Rs. <%= order_item.unit_price %></td>
          <td>Rs. <%= order_item.full_price %></td>
        </tr>
      <% end %>
    </table>
  </div>  

</div>





