<div class="panel-body">
  <div class="row">
  <div class="col-md-6">

<%= link_to 'Back', orders_path ,:class => "pull-right  btn btn-primary" %>

  <%= form_for @order do |f| %>
  <% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

    <ul>
      <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name , autofocus: true, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name , autofocus: true, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_area :address , autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :landmark %><br>
    <%= f.text_area :landmark , autofocus: true, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :pincode %><br>
    <%= f.text_field :pincode , autofocus: true, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city , autofocus: true, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :state %><br>
    <%= f.text_field :state , autofocus: true, class: "form-control"%>
  </div>
<!--   <div class="field">
    <%= f.label :country %><br>
    <%= f.country_select :country, prompt: "Select a country" %>
  </div> -->
  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone , autofocus: true, class: "form-control"%>
  </div>
<!--   <div class="form-group">
  <%= f.label :card_num %>
  <%= f.text_field :card_num , autofocus: true, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :card_type %>
    <%= f.select :card_type ,options_for_select(%w[PayU ]),{}, autofocus: true, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :card_expires_on%>
    <%= f.date_select :card_expires_on  , autofocus: true, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :card_cvv %>
    <%= f.text_field :card_cvv , autofocus: true, class: "form-control"%>
  </div> -->
  <div class="form-group">
  <%= f.label :cod %>
  <%= f.text_field :cod ,autofocus: true, class: "form-control"%>
  </div>


  <div class="actions">
    <%= f.submit class: "btn btn"%>
  </div>
  <% end %>
</div>

</div>
</div>