<% @all_carts.each do |cart| %>
	<div class="row well">
		<div class="col-sm-4">
			<%= "ORDER - #{cart.id}" %>
		</div>

		<div class="col-sm-4">
			Order Total: Rs. <%= cart.total_price %>
		</div>

		<div class="col-sm-4">
			Order Date: Rs. <%= cart.created_at.strftime("%Y-%m-%d") %>
		</div>
	</div>
	<% cart.line_items.each do |line_item| %>
	<div class="form-group">
		<div class="row">

		<div class="col-sm-2">
			<div class="col-sm-4">
			<%= image_tag(line_item.product.images.first.avatar.url, :height => "40px", :width => "50px" )%>
		</div>
		</div>

		<div class="col-sm-6">
			<div class="col-sm-3">
			<%= line_item.product.name %>
		</div>

		<div class="col-sm-3">
		 Qty:	<%= line_item.quantity %>
		</div>

		<div class="col-sm-3">
		 Rs. <%= line_item.unit_price %>	
		</div>

		<div class="col-sm-3">
		 Delivered
		</div>

		</div>
	</div>		
		<hr/>
		<br/>
	<% end %>
	<br/>
<% end %>