

<article>
  <div class="container">
    <div class="box-product">
      <div class="row">

        <% if @products.present? %>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="leftColumn" class="product-outer-box">
              <div class="row row-mrgn" >
                <% @products.each do |product| %>
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="box-productimg">
                      <%= image_tag(product.images.present? ? (product.images.first.avatar.url(:small)) : "/assets/missing.png", height: "317px", width: "309px") %>
                      <div class="productimg-hover">
                        <ul>
                         
                          <li><%= link_to '<i class="icon-open"></i>'.html_safe, single_product_home_path(product.id) %></li>
                        </ul>
                      </div>
                    </div>
                    <div class="box-content" style="margin-bottom: 20px;">
                      <!-- <h3>Rs. <%= product.price %></h3> -->
                      <h4><%= product.name.capitalize %></h4>
                 
                    </div>
                  </div>

              
                <% end %>
              </div>
              <div class="row">
                <div class="box-pagination responsive-pagination">
                  <span class="text-float-left">Items <%= @products.count%> total</span>
                  <span class="text-float-right"><%= will_paginate @products, renderer: BootstrapPagination::Rails %></span>
                </div>
              </div>

            </div>
          </div>
        <% else %>
          <h2>Comming Soon!!!!!</h2>
        <% end %>
      </div>
    </div>
    <nav>
    </nav>
  </div>
</article>





<style>

.box-content {
border: 1px solid goldenrod;
}


  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #DAA520 !important;
    border-color: #DAA520 !important;
    color: #fff;
    cursor: default;
    z-index: 2;
}
</style>





