<article> 
  <div class="box-maincheckout">
    <div class="container">
      <div class="box-category">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box-product col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <img id="zoom_09" src="<%= @product.images.present? ? (@product.images.first.avatar.url(:small)) : "/assets/missing.png" %>" data-zoom-image="<%= @product.images.present? ? (@product.images.first.avatar.url(:small)) : "/assets/missing.png" %>" />
            </div>

            <% if @images.present? %>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="gallery_09">
              <div class="row">
                <div class="bxslider1" style="max-width:300px;max-height:230px;">
                  <% @images.each do |image| %>
                  <div class="col-xs-3 col-sm-12 col-md-12 col-lg-12 box-product add_small_img">
                    <a href="#" class="elevatezoom-gallery active" data-image="<%= image.avatar.url(:small) %>" data-zoom-image="<%= image.avatar.url(:small) %>">
                      <img src="<%= image.avatar.url(:small) %>" />
                    </a>                       
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>

          <div class="list_price col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box-rightcategory">
              <div class="box-producT">
                <span><%= link_to "Back to Category", home_path(@product.sub_category.id) %></span>
              </div>
              <div class="box-producT">
                <h4><%= @product.name.capitalize %></h4>
                <br/>
                <p>Availability <span class="instock">In Stock</span> <%= (@product.quantity.blank? || @product.quantity == 0) ? (0) : (@product.quantity) %> item(s)</p>
                
                <% if @product.discount? %>
                <span  style="text-decoration: line-through; font-size:14px ;  ">Rs. <%= @product.price %></span>
                <span class="circleP single-circle">
                  <%= @product.discount%>%
                </span>
            
                <br/>
                <span style="font-size:21px"><%= number_to_currency(@product.price-(@product.price * @product.discount/100), :unit => "Rs.") %></span>
                <% else %>
                <h2> <%= number_to_currency(@product.price, :unit => "Rs.") %></h2>
                <%end %>
                <br/>
                
                <% if @product.product_size.present?  %>
                <span  style="margin-right: 20px;">
                  <b>Color:</b> <%= @product.color.capitalize %> 
                </span>
                <% end %>
                  
                <% if @product.product_size.present?  %>
                  <b>Size:</b> <%= @product.product_size %>
                <% end %>
                <br/> <br/>
              </div>
              <div class="box-producT">
                <div class="tab-description">
                  <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                    <li><a  href="#delivery" data-toggle="tab">Delivery</a></li>
                  </ul>
                  <div class="clearF"></div>
                  <div class="tab-content">
                    <div class="tab-pane active" id="description">
                      <div class="carousel slide" id="carousel-1">
                        <div class="carousel-inner alc">
                          <div class="item active">
                            <div class="list_carousel_tab">

                              <p>
                                <%= @product.description.html_safe %>
                              </p>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="delivery">
                      <div class="carousel slide" id="carousel-2">
                        <div class="carousel-inner">
                          <div class="item active">
                            <div class="list_carousel_tab">
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="box-producT">
                <div class="box-select">
                  <div class="row">
                    <% if(@product.quantity.blank? || @product.quantity == 0) %>
                    No Items There In Stock.
                    <% else %>
                    <%= link_to "Add to Cart", line_items_path(:product_id => @product.id), :method => :post ,:class => "btn btn-default"%>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% if @similars.present? %>
      <h1><span>Similar Items</span></h1>
      <div class="bxslider">          
        <% @similars.each do |product| %>
        <div class="box-bedsheeT">
          <div class="box-bedsheetimg">
            <%= link_to image_tag(product.images.present? ? (product.images.first.avatar.url) : "/assets/missing.png", :style => "width:310px;height:250px"),single_product_home_path(product.id)%>
          </div>
          <div class="box-content">
            <h3>Rs. <%= product.price %></h3>
            <h4><%= product.name.capitalize %></h4>
            <% if product.discount? %>
            <span class="circleQ">
              <%= product.discount%>%
            </span>           
            <% end %> 
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </article>

    <script type="text/javascript">
      jQuery(document).ready(function() {
        jQuery("#zoom_09").elevateZoom({
          gallery: "gallery_09",
          galleryActiveClass: "active"
        });
      });
    </script> 
    <script type="text/javascript" charset="utf-8">
      $(function() {
        $('.bxslider').bxSlider({
          auto: true,  
          slideWidth: 308,
          infiniteLoop: true,
          speed: 5000,
          pager: false,
          autoHover: true,
          minSlides: 3,
          maxSlides: 12,
          slideMargin: 20,
          adaptiveHeight: true
        });

        $('.bxslider1').bxSlider({
          mode: 'vertical',
          minSlides: 3,
          maxSlides: 12,
          speed: 5000,
          pager: false
        });
      });
    </script>
