<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading"> <strong class=""><h3>Log in</h3></strong>
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
              <div class="input-group input-group-lg">
                <span class="input-group-addon">
                  <span class="fa fa-envelope"></span>
                </span>
                <%= f.email_field :email, autofocus: true, class: "form-control", placeholder:"Email address"%>
                </div>
                <br />
                <div class="input-group input-group-lg">
                  <span class="input-group-addon">
                    <span class="fa fa-lock fa-lg"></span>
                  </span>
                  <%= f.password_field :password, autocomplete: "off", class: "form-control",
                      placeholder: "Password" %>
                  </div>
                  <br />
                  <%= f.submit "Sign in", class: 'btn btn-md btn-primary' %>
                    <%= render "devise/shared/links" %>
                  <% end %>
                  <%= link_to "Checkout As Guest", new_order_path %>
                </div>
              </div>
            </div>
          </div>
        </div>