<% if @category.errors.any? %>
  <div class="da-panel-content">
    <div class="da-message warning">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="da-form-row">
  <label><%= f.label :Category_Name %></label>
  <div class="da-form-item large">
    <%= f.text_field :name, autofocus: true, class: "form-control", placeholder:"Category Name"%>
    </div>
  </div>

  <div class="da-form-row">
  <label><%= f.label :avatar %></label>
  <div class="da-form-item large">
    <%= f.file_field :avatar %>
  </div>
</div>

<div class="da-form-row">
  <label><%= f.label :height %></label>
  <div class="da-form-item large">
    <%= f.text_field :height, class: "form-control", placeholder:"Image height"%>
    </div>
  </div>

  <div class="da-form-row">
  <label><%= f.label :width %></label>
  <div class="da-form-item large">
    <%= f.text_field :width, class: "form-control", placeholder:"Image width"%>
    </div>
  </div>

  <div class="da-button-row">
    <%= f.submit class: "da-button blue left" %>
  </div>