<div class="da-panel collapsible">
  <div class="da-panel-header">
    <span class="da-panel-title">
      <img src="/assets/admin/images/icons/black/16/list.png" alt="" />
      Product Listing
    </span>
  </div>
  <div class="da-panel-content">
    <table id="da-ex-datatable-default" class="da-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Discount</th>
          <th>Released At</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name.capitalize %></td>
            <td><%= product.description.capitalize %></td>
            <td><%= product.price %></td>
            <td><%= number_to_percentage(product.discount) %></td>
            <td><%= product.created_at.strftime("%B %e,%Y %Hh-%Ss") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>  