<% if @product.errors.any? %>
  <div class="da-panel-content">
    <div class="da-message warning">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="da-form-row">
  <label></label>
  <div class="da-form-item large">
    <%= f.select(:category_id, Category.all.map {|c| [c.name, c.id]}, :prompt =>"Choose a Category") %>
  </div>
</div>

<div class="da-form-row">
  <label><%= f.label :product_Name %></label>
  <div class="da-form-item large">
    <%= f.text_field :name, autofocus: true, class: "form-control", placeholder:"Product Name"%>
    </div>
  </div>


  <div class="da-form-row">
    <label><%= f.label :Description %></label>
    <div class="da-form-item large">
      <%= f.text_area :description,rows: 6, column: 5, autofocus: true, class: "form-control", placeholder: "Description", :id => "da-ex-elastic" %>
      </div>
    </div>

    <div class="da-form-row">
      <label><%= f.label :price %></label>
      <div class="da-form-item large">
        <%= f.text_field :price ,autofocus: true, class: "form-control", placeholder: "price" %>
        </div>
      </div>

      <div class="da-form-row">
        <label><%= f.label :Discount %></label>
        <div class="da-form-item large">
          <%= f.text_field :discount,autofocus: true, class: "form-control", placeholder: "Discount" %>
          </div>
        </div>

        <div class="da-form-row">
          <label>Select all color available for this product</label>
          <% if(params[:controller] == "admin/products" && params[:action] == "new") %>
            <div class="da-form-item large">
              <% @colors = Color.all %>
              <div style="height: 200px; overflow-y: scroll;">
                <% @colors.each do |color| %>
                  <div>
                    <span style="display: none"><%= check_box_tag "colors[]", color.id, true %></span>
                    <span><%= check_box_tag "color_ids[]", color.id %> </span>
                    <span><%= color.name %></span>
                  </div>
                <% end %>
              </div>
            </div>
          <% elsif(params[:controller] == "admin/products" && params[:action] == "edit") %>
            <div class="da-form-item large">
              <% @colors = @product.product_colors %>
              <div style="height: 200px; overflow-y: scroll;">
                <% @colors.each do |color| %>
                  <div>
                    <% if color.is_checked? %>
                      <span><%= check_box_tag "color_ids[]", color.color.id, true %> </span>
                    <% else %>
                      <span><%= check_box_tag "color_ids[]", color.color.id %> </span>
                    <% end %>
                    <span><%= color.color.name %></span>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>  

        <div style="margin-left: 25px; margin-bottom: 15px;">
          <% f.fields_for :images do |image| %>
            <%= image.file_field :avatar %>
            <%= image.link_to_remove "Remove" %>
          <% end %>


          <br/>
          <%= f.link_to_add "Add More Images", :images, :class =>"btn btn-primary" %>
        </div>

        <div class="da-button-row">
          <%= f.submit class: "da-button blue left" %>
          </div>