<h1>Listing products</h1>
<%= link_to 'New Product', new_admin_product_path, :class => "pull-right btn btn-primary" %>
<%= form_tag admin_products_path, :method => 'get',:id => "products_search" do %>
    <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<div id="products"><%= render 'products' %></div>

<script type="text/javascript">
$(function () {
  // Sorting and pagination links.
  $('#products th a, #products .pagination a').live('click', function () {
      $.getScript(this.href);
      return false;
  });
  
  // Search form.
  $('#products_search input').keyup(function() {
    $.get($("#products_search").attr("action"), $("#products_search").serialize(), null, 'script');
    return false;
  });
});
</script>


