<!-- Content Area -->
<div id="da-content-area">
              <ul class="da-circular-stat-wrap">
                <li class="da-circular-stat {fillColor: '#e15656', value: <%= @categoryCount %>, maxValue: <%= @categoryCount %>, label: 'Total Category'}"></li>
                <li class="da-circular-stat {fillColor: '#a6d037', value: <%= @productCount %>, maxValue: <%= @productCount %>, label: 'Total Product'}"></li>
                <li class="da-circular-stat {fillColor: '#ea799b', percent: false, value: <%= @userCount %>, maxValue: <%= @userCount %>, label: 'Total User'}"></li>
                <li class="da-circular-stat {fillColor: '#fab241', value: <%= @guestOrderCount %>, maxValue: <%= @guestOrderCount %>, label: 'Total Guest Order'}"></li>
                <li class="da-circular-stat {fillColor: '#61a5e4', percent: false, value: <%= @userOrderCount %>, maxValue: <%= @userOrderCount %>, label: 'Total User Order'}"></li>
              </ul>

              <div class="grid_4">
                <div class="da-panel-widget">
                  <h1>Summary List</h1>
                  
                </div>
              </div>

            </div>