<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Rosara</title>
    <%= stylesheet_link_tag "css/default.css", :media => "all" %>
    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="css/internet-explore9.css"/>
    <script type="text/javascript" language="javascript" src="/assets/js/html5.js"></script>  
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class="topbar clearfix">
        <div class="container">
          <ul class="menu-signup">
            <li class="icon-help">
              <a href="#" title="Help"><span>Help</span></a>
            </li>
            <% if !current_user %>
              <li class="icon-up">
                <%= link_to "Sign up", new_user_registration_path %>
              </li>
              <li class="icon-in">
                <%= link_to "Sign in", new_user_session_path %>
              </li>
            <% end %>

            <% if current_user%>
              <li class="icon-up">
                <%= link_to "Profile", profiles_path %>
              </li>
              <li class="icon-in">
                <%= link_to("Log Out", destroy_user_session_path, :method => :delete)%>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="box-logo">
          <div class="row">
            <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
              <h1 id="logo"><a href="#" title="Rosara">Rosara</a> </h1>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 text-right"> 
              <p>
                <%= link_to "Cart #{current_cart.line_items.count}", carts_path, :class => "chart", :title => "Cart" %>
              </p>
              <div class="bposi">
                <%= form_tag homes_path, :method => 'get',:id => "products_search" do %>
                  <%= text_field_tag :search, params[:search], :placeholder => "Search", :class => "input-search" %>
                  <%= submit_tag "Search", :name => nil,:class => "btn-search", :value => "" %>
                <% end %>
              </div>          
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="glyphicon glyphicon-align-justify"></span> Menu</button>
        </div>
      </div>
      <div class="menu-bar">
        <div class="container">
          <div class="navbar-collapse collapse">
            <ul class="main-navigation">
              <% Category.where("name is not null and category_show = #{true}").each do |cat| %>
                <li>
                  <%= link_to cat.name, home_path(cat), :title => "#{cat.name}" %>
                </li>
              <% end %>
              <li>
                <%= link_to "Offers", offers_homes_path, :title => "Offers" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <%= yield %> 

    <footer>
      <div class="box-missOut">
        <div class="container"> 
          <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <h6>Don't miss out</h6>
              <p>Stay stylishly up-to-date with the latest news and new arrivals direct to your inbox.</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <a href="#" title="Sign up for newsletter" data-toggle="modal" data-target="#myModal-2" class="btn btn-signup">Sign up for newsletter</a>
            </div>
          </div>


        </div>
      </div>
      <div class="container">
        <div class="box-contact clearfix">
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <h6 class="heading-footer"><span class="icon-phone"></span>Contact us</h6>
              <div class="box-contactDetail clearfix">
                <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">Email us on</div>
                <div class="col-xs-6 col-sm-7 col-md-7 col-lg-7"><a href="mailto:hello@abc.com" title="hello@abc.com">hello@abc.com</a></div>
                <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">Call us on</div>
                <div class="col-xs-6 col-sm-7 col-md-7 col-lg-7">+91-00-000-0000</div>
              </div>  
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <h6 class="heading-footer"><span class="icon-map"></span>Address</h6>
              <p>231, Building, Rajajinagar<br> Bangalore, 560009 India</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 box-follow">
              <h6 class="heading-footer"><span class="icon-dot"></span>Follow us</h6>
              <ul class="list-footerSocial">
                <li class="icon-facebook"><a title="facebook" href="#">facebook</a></li>
                <li class="icon-twitter"><a title="twitter" href="#">twitter</a></li>
                <li class="icon-google-plus"><a title="google plus" href="#">google plus</a></li>
                <li class="icon-instagram"><a title="instagram" href="#">instagram</a></li>
                <li class="icon-pinterest"><a title="pinterest" href="#">pinterest</a></li>
              </ul>
              <div class="link-readBlog"><a href="#" title="Read our blog">Read our blog</a></div>
            </div>
          </div>
        </div>
        <div class="box-copyright">
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">&copy; 2014 The Companyname.All Rights Reserved</div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <ul class="menu-footer">
                <li><%= link_to "How to buy", how_to_buy_homes_path, :title => "How to buy" %></li>
                <li><%= link_to "FAQ's", faq_homes_path, :title => "FAQ's" %></li>
                <li><%= link_to "Payment", payment_homes_path, :title => "Payment" %></li>
                <li><%= link_to "Shipment", shipment_homes_path, :title => "Shipment" %></li>
                <li><%= link_to "My order", myorder_orders_path, :title => "My order" %></li>
                <li><%= link_to "Terms", terms_homes_path, :title => "Terms" %></li>
                <li><%= link_to "Return Policy", return_policy_homes_path, :title => "Return Policy" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--popup---->
    <div class="modal fade modal-car" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h6>Signup For Newsletter</h6>
          <div class="box-newsletter">        
            <p><input type="text" placeholder="Enter your Name here" title="Name" class="input-email" /></p> 
            <p><input type="text" placeholder="Enter your email here" title="Email" class="input-email"></p>
            <p><button type="submit" title="Send" class="btn"><i class="fa fa-paper-plane"></i> Send</button></p>
          </div>  
        </div>
      </div>      
    </div>
    
    <%= javascript_include_tag "js/jquery.min.js", "js/bootstrap/bootstrap.min.js", "js/bootstrap/ie-bootstrap-carousel.min.js" %>
  </body>
</html>