<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Rosara</title>
    <%= stylesheet_link_tag "application", "css/default.css", :media => "all" %>
    <%= javascript_include_tag "application","js/bootstrap/bootstrap.min.js", "js/bootstrap/ie-bootstrap-carousel.min.js", "js/gallery/jquery.elevatezoom.min.js", "js/custom.js" %>
    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="css/internet-explore9.css"/>
    <script type="text/javascript" language="javascript" src="/assets/js/html5.js"></script>  
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class="topbar clearfix">
        <div class="container">
          <ul class="menu-signup">
            <li class="icon-help">
              <a href="#" title="Help"><span>Help</span></a>
            </li>
            <% if !current_user %>
              <li class="icon-up">
                <%= link_to "Sign up", new_user_registration_path %>
              </li>
              <li class="icon-in">
                <%= link_to "Sign in", new_user_session_path %>
              </li>
            <% end %>

            <% if current_user%>
              <li class="icon-up">
                <%= link_to "Profile", profiles_path %>
              </li>
              <li class="icon-in">
                <%= link_to("Log Out", destroy_user_session_path, :method => :delete)%>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="box-logo">
          <div class="row">
            <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
              <h1 id="logo"><%= link_to "Rosara", root_path, :title => "Rosara" %></h1>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 text-right"> 
              <p>
                <%= link_to "Cart #{current_cart.line_items.count}", carts_path, :class => "chart", :title => "Cart" %>
              </p>
              <div class="bposi">
                <%= form_tag search_homes_path, :method => 'get',:id => "products_search" do %>
                  <%= text_field_tag :search, params[:search], :placeholder => "Search", :class => "input-search" %>
                  <%= submit_tag "Search", :name => nil,:class => "btn-search", :value => "" %>
                <% end %>
              </div>          
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="glyphicon glyphicon-align-justify"></span> Menu</button>
        </div>
      </div>
      <div class="menu-bar">
        <div class="container">
          <div class="navbar-collapse collapse">
            <ul class="main-navigation">
              <% Category.where("name is not null and category_show = #{true}").each do |cat| %>
                <li>
                  <%= link_to cat.name, home_path(cat), :title => "#{cat.name}" %>
                </li>
              <% end %>
              <li>
                <%= link_to "Offers", offers_homes_path, :title => "Offers" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <%= yield %> 

    <%= render :partial => "layouts/footer" %>
    
    <!--popup---->
    <div class="modal fade modal-car" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h6>Signup For Newsletter</h6>
          <div class="box-newsletter">        
            <p><input type="text" placeholder="Enter your Name here" title="Name" class="input-email" /></p> 
            <p><input type="text" placeholder="Enter your email here" title="Email" class="input-email"></p>
            <p><button type="submit" title="Send" class="btn"><i class="fa fa-paper-plane"></i> Send</button></p>
          </div>  
        </div>
      </div>      
    </div>
  </body>
</html>

